
BorderPane{
    -fx-background-color: white;
}

ChartViewer{
    -fx-background-color: white;
}

.buttonSearchCloseIcon {
    -glyph-size: 15;
    -glyph-name: CLOSE;
}

ToolBar {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, white, #f2f2f2);

}

#chartMenuBar {
    -fx-background-color: #d9d9d9;
}

/*** Top-level menu itself ***/
#chartMenuBar > .container > .menu-button {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #0000FF;
    -fx-border-radius: 5;
    -fx-background-radius: 20;
    -fx-padding: 5;
}

.button{
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}
